.displayGeneralInfo {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: flex-start; /* Align items to the start of each column */
  align-content: flex-start; /* Align content to the start of each column */
}

.personalInfo,
.contactInfo {
  border: 1px solid black;
  display: block;
}

.personalInfo {
  justify-self: start;
  width: 100%;
}
