/* .displayGeneralInfo {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: flex-start;
  align-content: flex-start;
}

.personalInfo,
.contactInfo {
  border: 1px solid black;
  display: block;
}

.personalInfo {
  justify-self: start;
  width: 100%;
} */
