* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#root {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a:visited {
  text-decoration: none;
  color: #2c3e50;
}

main {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

div,
form {
  display: flex;
  flex-direction: column;
}

div {
  /* border: 1px solid black; */
}

p {
  margin: 0;
}

button {
  width: 10%;
}

/* .container > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
} */

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  /* border: none; */
}

fieldset label {
  padding: 5px;
}

fieldset input {
  padding: 0.5rem;
}

fieldset button {
  width: 30%;
  text-align: center;
  padding: 1em;
}

textarea {
  width: 100%;
}

.gridItemText {
  padding: 5px;
  color: #34495e;
  /* border: 1px solid grey; */
}

.gridItemInput {
  padding: 5px;
  font-weight: 700;
}

.container {
  /* border: 1px solid black; */
  width: 100%;
  max-width: 50%;
  background-color: white;
  margin-top: 1em;
}

.left {
  width: 40%;
  max-width: 40%;
}

.right {
  width: 60%;
  max-width: 60%;
  position: relative;
  border: none;
  box-shadow: #3c40434d 0 1px 2px;
  transform: scale(1);
  overflow: initial !important;
}
/* DISPLAY SECTION */
/*  */

.displayGeneralInfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.displayGeneralInfo h1 {
  text-overflow: ellipsis; /* Display an ellipsis (...) to indicate overflow */
  overflow-wrap: break-word;
  vertical-align: baseline;
  /* display: flex; */
  align-items: center;
  word-break: break-all;
  margin-bottom: 0;
  font-size: calc(2em + 2vmin);
}

.generalInfoMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  text-align: justify;
  background-color: white;
}

.generalInfoAside {
  background-color: #ecf0f1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.mainContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.mainContentAside {
  display: flex;
  flex-direction: column;
  background-color: #ecf0f1;
  padding: 1em;
  box-sizing: border-box;
  color: #00457e;
}

.mainContentAside h3,
.mainContentAside h4 {
  margin-top: 0;
}

.mainContentDiv {
  background-color: white;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  /* border-bottom: 1px solid grey; */
  box-shadow: 0px 5px 5px grey;
}

.personalInfo,
.contactInfo {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: start;
  padding: 1em;
}

.personalInfo {
  justify-self: start;
  width: 55%;
  max-width: 55%;
}

.personalInfo > *,
.contactInfo > * {
  text-overflow: ellipsis; /* Display an ellipsis (...) to indicate overflow */
  overflow-wrap: break-word;
  vertical-align: baseline;
  display: flex;
  align-items: center;
}

/* .personalInfo h1 {
  font-size: calc(3em + 2vmin);
} */

.contactInfo {
  width: 45%;
  max-width: 45%;
}

/* section label {
  display: flex;
  justify-content: space-between;
  padding: 5px;
} */
/* 
section p,
section label {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  padding: 5px;
}
 */

.eduItem,
.workItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: start; */
  padding: 1em;
  width: 100%;
}

.eduItemButtons,
.workItemButtons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
}

.eduItemButtons button,
.workItemButtons button {
  padding: 5px;
  width: 100%;
}

.sectionHeaderLine {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid #ccc;
  margin: 1em auto;
  padding: 0;
  width: 50%;
}

.right h1,
.right h3,
.right h4 {
  color: #2c3e50;
}

.right h2 {
  color: #2980b9;
}

.generalInfoMain > h2 {
  color: #2c3e50;
}

/* , #3c404326 0 2px 6px 2px */

.displayEducationInfo li {
  text-align: start;
}

ul {
  list-style-type: circle;
}

.itemDisplay {
  padding-bottom: 1em;
}

li > h3 {
  margin: 0;
  padding-top: 0.5em;
  text-transform: uppercase;
}

li > p,
ul ul {
  color: #34495e;
  font-size: 1em;
  font-weight: 500;
}

.companyName {
  padding-bottom: 1em;
}

.generalInfoLine {
  display: none;
}

@media print {
  /* Reset margins and padding for the entire document */
  body,
  html {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  /* * {
    margin: 0;
    padding: 0;
  } */

  .sectionHeaderLine {
    margin-top: 1;
    margin-bottom: 1rem;
    padding: 0;
  }

  h1 {
    margin-top: 0;
  }

  section {
    margin-bottom: 0;
  }

  ul {
    margin: 0;
  }

  body {
    margin-top: 1rem;
  }

  /* Set a consistent width with a small margin */
  .content {
    margin: 0.5in; /* Adjust as needed */
    width: auto;
  }

  /* Hide elements that shouldn't be printed */
  .no-print {
    display: none;
  }

  /* Ensure images fit within the content area */
  img {
    /* max-width: 100%; */
    height: auto;
  }

  /* Handle page breaks */
  .page-break {
    page-break-before: always;
  }

  /* Adjust font size and line height for readability */
  body {
    font-size: 12pt;
    line-height: 1.4;
  }

  /* Remove any unnecessary styles */
  * {
    box-sizing: border-box;
  }

  /* Specific adjustments for headers and footers */
  header,
  footer {
    page-break-after: always;
    display: block; /* Ensure they appear correctly */
  }

  main,
  #root {
    display: block;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
  }

  .noPrint {
    display: none;
  }

  .print {
    width: 100%;
    max-width: 100%;
  }

  .right {
    border: none;
    box-shadow: none;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;

    box-shadow: none;
  }

  .generalInfoLine {
    display: block;
  }
}

@page {
  size: auto;
  margin: 0mm;
}

.profilePictureDiv {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profilePicture {
  /* max-width: 100%; */
  max-height: 100%;
  /* object-fit: fill; */
  /* object-fit: contain; */
  /* object-fit: cover; */
  /* object-fit: none; */
  /* object-fit: scale-down; */
}

#profilePicInputWrap {
  display: none;
}

.file-input-label {
  display: inline-block;
  padding: 10px 15px;
  background-color: #2980b9; /* Medium Blue, same as accent color */
  color: #ffffff; /* White text color */
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.file-input-label:hover {
  background-color: #2c3e50; /* Dark Blue, slightly darker on hover */
}

.file-input-label p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

/* Styling for file input notice */
.file-input-notice {
  display: flex; /* Use flex to control alignment */
  align-items: center; /* Center align items vertically */
  padding: 10px;
  background-color: #ecf0f1; /* Light Gray */
  border: 1px solid #bdc3c7; /* Light Gray border */
  border-radius: 5px;
}

.file-input-notice p {
  margin: 5px 0;
}

/* File input container */
#profilePicInputWrap {
  margin-bottom: 10px; /* Space between file input and next element */
}

/* Icon styling */
.file-input-label svg {
  vertical-align: middle;
  margin-right: 5px;
}

.printButtonLabel {
  position: sticky;
  top: 10rem;
  margin-left: auto;
  right: -50px;
  z-index: 1;
  background-color: white;
  border: 1px solid grey;
  cursor: pointer;
  margin-right: 1rem;
  color: #34495e;
}

#printButton {
  display: none;
  /* position: sticky;
  top: 20px;
  margin-left: auto;
  right: 50px;
  z-index: 1; */
  /* align-self: baseline; */
}

form,
.inputSection {
  width: 100%; /* Adjust to your layout */
  margin: auto;
  padding: 20px;
  padding-bottom: 0;
  background-color: #ffffff;
  /* border: 1px solid #e0e0e0; */
  /* border-radius: 5px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

form fieldset,
.inputSection fieldset {
  border: 1px solid #bdc3c7; /* Light Gray border */
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

form legend,
.inputSection legend {
  font-size: 1.5em;
  font-weight: bold;
  color: #2c3e50; /* Dark Blue */
  margin-bottom: 10px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #34495e; /* Dark Gray */
}

form input[type="text"],
form input[type="email"] {
  width: calc(100% - 12px); /* Adjust for input padding */
  padding: 10px;
  font-size: 1em;
  border: 1px solid #bdc3c7; /* Light Gray */
  border-radius: 3px;
  margin-bottom: 10px;
  transition: border-color 0.3s ease;
}

form input[type="text"]:focus,
form input[type="email"]:focus {
  outline: none;
  border-color: #2980b9; /* Medium Blue on focus */
}

form button,
.inputSection button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2980b9; /* Medium Blue */
  color: #ffffff; /* White text color */
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover,
.inputSection button:hover {
  background-color: #2c3e50; /* Dark Blue on hover */
}

.inputSection p {
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 500;
}
